<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="inquiry_form_grid_data_source" xsi:type="string">Mage4\Inquiry\Model\ResourceModel\Item\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <preference for="Mage4\Inquiry\Api\DataRepositoryInterface" type="Mage4\Inquiry\Model\DataRepository" />
    <preference for="Mage4\Inquiry\Api\Data\DataInterface" type="Mage4\Inquiry\Model\Data" />
    </config>
